
@{
    ViewData["Title"] = "User";
}

<form >
    <br />
    <center><h3>Login or Create a new account</h3></center>
    <table>
        <tr><td>Username: </td><td><input type="text"></td></tr>
        <tr><td>Password: </td><td><input type="text"></td></tr>
        <tr><td>Email: </td><td><input type="text"></td></tr>
        <tr><td><br /></td></tr>
        <tr><td><input type="button" value="Login"></td><td><input type="button" value="Register"></td></tr>
    </table>
    <br />
</form>

