@model BoardGame
@{
    ViewData["Title"] = "Cart";
}

<form asp-action="Carts" method="post">
    
    <div>
        <br />
        <center><h3></h3></center>
        <table>

            <thead>
                <tr>
                    <th>Quantity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Item&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>Subtotal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>

            <tr><td><input type="submit" value="Continue Shopping" asp-action="Order/Order"></td></tr>
        </table>
        <br />

    </div>
</form>
