<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>About GoldieGames</h2>
<p>GoldieGames is an online retailer for board games that was founded in 2010.</p>
<p>We serve over 15 countries and are committed to make you happy with the board games that we sell.</p>
<p>We believe that the board games community is still in demand and is getting more popular than ever!</p>

<h2>Our CEO</h2>
<img src="~/images/ronFace.jpg" alt="Ron's face" class="img-responsive" title="Faceshot of Ron" />
<hr>
<p>Born in Kingston Jamaica, Ron Williams was always in love with board games as a kid. His favorites growing up were Mancala, Gues Who and Battleship.</p>
<p>In 2001 Ron had moved to the United States in the state of Georgia. It was there that Ron decided that in the future he wanted to make an online board game retailer.</p>
<p>As Ron says best, "I hope that the board games we offer give you nights that you can cherish".</p>