<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>About GoldieGames</h2>
<img src="~/images/GoldieGamesLogo.PNG" alt="GG Logo" class="img-responsive" title="Goldie Games Logo" />
<br>
<p>GoldieGames is an online retailer for board games that was founded in 2008.</p>
<p>We now serve over 15 countries and are committed to make you happy with the board games that we sell.</p>
<p>We believe that the board games community is still in demand and is getting more popular than ever!</p>

<h2>Our CEO</h2>
<img src="~/images/ronFace.jpg" alt="Ron's face" class="img-responsive" title="Faceshot of Ron" />
<br>
<p>Ron Carter born January 1, 1969 and raised in Queens New York, Ron was always in love with board games as a kid. His favorites growing up were Mancala, Guess Who and Battleship.</p>
<p>In 2001 Ron had moved to the state of California in the city of Los Angeles. It was there that Ron took his idea of an online board game retailer to make it become reality.</p>
<p>As Ron says best, "I hope that the board games we offer give you nights that you can cherish".</p>