@model BoardGame
@{
    ViewData["Title"] = "Added";
}

<div class="row justify-content-center">
    <div class="col-md-9">
        <h3>Following game has been added.</h3>
        <table class="table table-bordered table-striped">


            <tr>
                <th>Title</th>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <th>Seller</th>
                <td>@Model.Seller</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>@Model.Price</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>@Model.Genre</td>
            </tr>
        </table>

    </div>

</div>

