@model BoardGame

@{
    ViewData["Title"] = "AddItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit a New Board Game!</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="AddItem" method="post">
    <fieldset>
        <!--Linking the partial view--><partial name="/Views/Shared/ItemSummary.cshtml" />
        <p>
            <label asp-for="Title">Board Game Title:</label>&nbsp;&nbsp;
            <input asp-for="Title" required="required" tabindex="1" />
        </p>
        <p>
            <label asp-for="Seller">Seller Name:</label>&nbsp;&nbsp;
            <input asp-for="Seller" required="required" tabindex="3" />
        </p>
        <p>
            <label>Genre:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <select asp-for="Genre" required="required" tabindex="5">
                <option>Family</option>
                <option>Dexterity</option>
                <option>Party</option>
                <option>Abstract</option>
                <option>Thematic</option>
                <option>Eurogames</option>
                <option>Wargames</option>
            </select>
        </p>
        <p>
            <label asp-for="Price">Game Price:</label>
            <input asp-for="Price" required="required" tabindex="7" />
        </p>
        <br>
        <br>
        <!--Save Button--><input name="btnButtonSubmit" type="submit" value="Submit Game" tabindex="9" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!--Clear Info--><input name="btnReset" type="reset" value="Clear Game Information" tabindex="11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!--Cancel Button--><input name="btnCancel" type="button" onclick="location.href='Index'" value="Cancel" tabindex="13" />
    </fieldset>
</form>