<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Need Some Help?</h2>
<img src="~/images/Email.png" alt="Instagram" class="img-responsive" title="Email" />
<p>help@goldiegames.com</p>
<br>
<img src="~/images/Phone.png" alt="Phone Number" class="img-responsive" title="Phone" />
<p>1-877-287-1999</p>

<h2>Social Media</h2>
<img src="~/images/Instagram.png" alt="Instagram" class="img-responsive" title="Instagram" />
<p>@@GoldieGames</p>
<br>
<img src="~/images/Twitter.png" alt="Twitter" class="img-responsive" title="Twitter" />
<p>@@GoldieGames</p>
<br>
<img src="~/images/Facebook.png" alt="Facebook" class="img-responsive" title="Facebook" />
<p>GoldieGames</p>