@model BoardGame;
@{
    ViewData["Title"] = "ItemDetailView";
}

<div>
    <div>
        <h2>@Model.Name</h2>
        <h1>@Model.Price.ToString("c")</h1>
    </div>
    <form id="@Model.BoardGameID" asp-action="PutInCart" asp-controller="Cart" asp-for="BoardGameID">
        <h3> @Model.Description</h3>
        <button type="submit" >Put this game in Cart</button>\
        <button type="button" asp-action="ItemList" asp-controller="Home">Back</button>
</form>

</div>

