<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Need Some Help?</h2>
<p>Email: help@goldiegames.com</p>
<p>Phone Number: 1-877-287-1999</p>

<h2>Social Media</h2>
<p>Instagram: GoldieGames</p>
<p>Twitter: GoldieGames</p>
<p>Facebook: GoldieGames</p>
<p>Snapchat: GoldieGames</p>